.home {
  padding: 30px 20px;
}

.e-dlg-header-content {
  padding-bottom: 10px;
}

.e-dialog .e-footer-content {
  padding-top: 2px;
  padding-bottom: 10px;
}

.list-item {
  padding: 10px 15px;
  font-size: 14px;
}

ejs-listbox {
  width: 100%;
  max-width: 400px;
}