@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

body {
  margin: 0px;
  padding: 0px;
  background-color: #f8f9fe;
}
* {
  font-family: 'Poppins', sans-serif;
}

.e-dialog {
  max-height: 98% !important;
}

html,
body,
#dialog-container {
  display: block;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

#container {
  visibility: hidden;
}

#loader {
  color: #008cff;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
  width: 30%;
}

.e-dlg-overlay {
  position: fixed !important;
}

.e-spinner-pane {
  display: none !important;
}

.e-label-top.e-float-text {
  transform: translate3d(-10px, -38px, 0) scale(1) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.card {
  border: 1px solid #ccc;
  box-shadow: 0 2px 3px #ccc;
  background-color: white;
}

// .e-customCheckBox.e-checkbox-wrapper .e-frame {
//   /* To change the size of the Checkbox*/
//   height: 20px;
//   line-height: 10px;
//   width: 20px;
// }

// .e-customCheckBox.e-checkbox-wrapper .e-check {
//   /* To change the size of the tick icon*/
//   font-size: 16px;
// }
// .e-customCheckBox.e-checkbox-wrapper .e-label {
//   /* To customize label size */
//   font-size: 16px;
// }