<div class="px-3">
  <h2>Project Details</h2>
  <div class="project-details">
    <span>Project Name: </span> <span>{{project?.name}}</span>
  </div>
  <div class="card tabs-container">
    <ejs-tab>
      <e-tabitems>
        <!-- <e-tabitem [header]="headerText[0]">
          <ng-template #content>
            <app-project-exec-types></app-project-exec-types>
          </ng-template>
        </e-tabitem>
        <e-tabitem [header]="headerText[1]">
          <ng-template #content>
            <app-project-kps></app-project-kps>
          </ng-template>
        </e-tabitem> -->
        <e-tabitem [header]="headerText[2]">
          <ng-template #content>
            <app-project-mqs></app-project-mqs>
          </ng-template>
        </e-tabitem>
        <e-tabitem [header]="headerText[4]">
          <ng-template #content>
            <app-pipeline-manager></app-pipeline-manager>
          </ng-template>
        </e-tabitem>
        <e-tabitem [header]="headerText[5]">
          <ng-template #content>
            <app-project-crews></app-project-crews>
          </ng-template>
        </e-tabitem>
        <e-tabitem [header]="headerText[6]">
          <ng-template #content>
            <app-kp-assignments></app-kp-assignments>
          </ng-template>
        </e-tabitem>
      </e-tabitems>
    </ejs-tab>
  </div>
</div>
