<div class="kps-header">
  <h2>{{word('CREATE_EXEC_TYPES')}}</h2>
  <button ejs-button [isPrimary]="true" (click)="openModal()">{{word('CREATE')}}</button>
</div>

<div class="list">
  <ng-container *ngIf="!!execTypes?.length; else noData">
    <div class="list-item" *ngFor="let item of execTypes">
      <div class="list-item__name">Name: {{item.name}}</div>
      <div class="list-item__code">Code: {{item.code}}</div>
    </div>
  </ng-container>
  <ng-template #noData>
    <div class="list-item">No Execution Types Created Yet!</div>
  </ng-template>
</div>

<!-- MODAL -->
<div #container class="root-container"></div>
<ejs-dialog #ejDialog isModal="true" [target]="targetEl" cssClass="modal" [header]="word('CREATE_NEW_PROJECT')"
  [width]="400" (overlayClick)="closeModal()" [visible]="false" [buttons]="btns">
  <ng-template #content>
    <form class="kp-form" [formGroup]="execTypeForm">
      <app-input [label]="word('NAME')" [fn]="'name'" [fg]="execTypeForm"></app-input>
      <app-input [label]="word('CODE')" [fn]="'code'" [fg]="execTypeForm"></app-input>
    </form>
  </ng-template>
</ejs-dialog>
