<div class="header">
  <h2>{{word('KP_ASSIGNMENTS')}}</h2>
</div>
<ejs-toolbar>
  <div class="toolbar-items">
    <div class="toolbar-item">
      <div>
        <app-dropdown [data]='mqOptions' floatLabel="Never" [fg]='mqForm' fn="mqId"
          [label]="word('SELECT_MQ')"></app-dropdown>
      </div>
    </div>
  </div>
</ejs-toolbar>
<ejs-grid #grid [dataSource]='gridData' width="auto">
  <e-columns>
    <e-column field='start' [headerText]='word("START")' width="20"></e-column>
    <e-column field='end' [headerText]='word("END")' width="20"></e-column>
    <!-- [ngClass]="{
    'not-done': data === false,
    'done': data === true,
    'disabled': data === null
    }" -->
    <!-- (dblclick)="updateStep(data)" -->
    <ng-container *ngIf="!!selectedMq?.mqSteps">
      <e-column *ngFor="let step of selectedMq.mqSteps" [field]='step.title' [headerText]='step.title' width="20"
        class="test">
        <ng-template #template let-data>
          <div class="test">
            {{data}} Hello
          </div>
        </ng-template>
      </e-column>
    </ng-container>
  </e-columns>
</ejs-grid> 
