.form-group {
  position: relative;
  app-validation-error {
    position: absolute;
    bottom: -3px;
    left: 0;
    color: red;
  }
}
.mb {
  margin-bottom: 12px;
}
.mt {
  margin-top: 19px;
}